@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;   
}

body {
  height: 100vh;
  background-color: hsl(0, 0%, 86%);
}

.container {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 1rem 1rem 6rem 1rem;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container .head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.container .head input {
  width: 100px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: .3rem;
  outline: 0;
  font-size: 20px;
  font-weight: 800;
  color: hsl(0, 0%, 8%)
}

/* .container .head input:focus */

.container .head div {
  display: flex;
  flex-wrap: wrap;
}

hr {
  height: 2px;
  background-color: hsl(0, 0%, 86%);
  margin-bottom: 5px;
}

.container .head div > label {
  width: 100%;
  font-size: 13px;
  color: hsl(0, 1%, 44%);
  margin-bottom: 5px;
}

.content h1 {
  font-family: Poppins;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  font-size: 32px;
}

.content h1 span {
  color: hsl(259, 100%, 65%);
  font-size: 32px;
  font-weight: 700;
}

.btn {
  position: relative;
}

.btn::after {
  content: '\f103';
  font-family: "font awesome 6 free";
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: hsl(259, 100%, 65%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 50%;
  cursor: pointer;
}